<div class="events-page">
  <div class="page-title">
    <div class="clearfix">
      <div class="pull-left">
        <h2>Eventos
          <small>
            <%= @events.total_count %> eventos encontrados
          </small>
        </h2>
      </div>
      <div class="pull-right">
        <a href="<%= new_admin_event_path %>" class="btn btn-success">
          <i class="fa fa-plus-square"></i>
          Novo
        </a>
      </div>
    </div>
  </div>
  <div>
    <%= render "admin/shared/notice" %>
    <%= render "search" %>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 5%;">Vip</th>
          <th style="width: 5%;">Visível</th>
          <th style="width: 5%;">Aprovado</th>
          <th style="width: 30%;">Nome</th>
          <th style="width: 30%;">Categoria</th>
          <th style="width: 15%;" colspan="2">
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr class="<%= !event.aprooved ? 'table-warning' : '' %> <%= !event.visible ? 'table-warning' : '' %> <%= event.vip ? 'table-info' : '' %>">
            <td><%= icon_check(event.vip) %></td>
            <td><%= icon_check(event.visible) %></td>
            <td><%= icon_check(event.aprooved) %></td>
            <td>
              <%= event.name %>
            </td>
            <td>
              <% event.tags.each do |tag| %>
                <span><%= t tag.alias %></span>
              <% end %>
              <% if event.tags.size == 0 %>
                -
              <% end %>
            </td>
            <td colspan="2">
              <%= link_to [:edit, :admin, event], class: 'btn btn-sm btn-info' do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to [:admin, event], method: :delete, class: 'btn btn-sm btn-warning', data: { confirm: 'Você realmente deseja remover esse estabelecimento? Será uma ação irreversível' } do %>
                <i class="fa fa-remove"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination-container">
      <%= paginate @events, :theme => 'twitter-bootstrap-4' %>
    </div>
  </div>

</div>
