<div class="events-page">
  <div class="page-title">
    <div class="clearfix">
      <div class="pull-left">
        <h3>Eventos
          <small>
            <%= @events.total_count %> eventos encontrados
          </small>
        </h3>
      </div>
    </div>
  </div>
  <div>
    <%= render "admin/shared/notice" %>
    <%= render "search" %>
    <%= render "list" %>
    <div class="pagination-container">
      <%= paginate @events, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>
