<%= form_tag destroy_multiple_admin_sniffs_path, method: :delete do %>
  <% if @sniffs.size > 0 %>
    <button class="btn btn-danger" type="submit">
      Remover sniffs selecionados
    </button>
    <hr>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 15%;"></th>
        <th style="width: 15%;">Usuário</th>
        <th style="width: 15%;">Criado em</th>
        <th style="width: 20%;">Estabelecimento</th>
        <th style="width: 20%;">Conteúdo</th>
        <th style="width: 15%;">
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      <% @sniffs.each do |sniff| %>
        <tr>
          <td><%= check_box_tag "sniffs[]", sniff.id %></td>
          <td><%= sniff.user.name %></td>
          <td>
            <%= sniff.created_at.strftime('%d-%m-%Y %H:%M') %>
          </td>
          <td>
            <%= sniff.establishment_name %>
          </td>
          <td class="sniff-td-item">
            <% unless sniff.img.blank? %>
              <%= image_tag sniff.img.url(:medium) %>
            <% end %>
            <% unless sniff.video.blank? %>
              <%= video_tag(sniff.video, controls: true, autobuffer: true, width: 250, height: 250) %>
            <% end %>
          </td>
          <td colspan="2">
            <%= link_to [:admin, sniff], method: :delete, class: 'btn btn-xs btn-warning', data: { confirm: 'Você realmente deseja remover esse sniff? Será uma ação irreversível' } do %>
              <i class="fa fa-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if @sniffs.size == 0 %>
        <tr>
          <td colspan="5">
            <div class="no-results-container">
              <div>
                <i class="fa fa-remove"></i>
                Nenhum sniff encontrado
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="pagination-container">
  <%= paginate @sniffs, :theme => 'twitter-bootstrap-3' %>
</div>
