<% if @event.imgs.size === 0 %>
  <div class="alert alert-warning">
    <i class="fa fa-info-circle"></i>
    Esse evento ainda não possui imagens. Adicione uma :)
  </div>
  <hr />
<% end %>

<% if @event.imgs.size > 1 %>
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    A primeira imagem da galeria será sempre a capa do evento
  </div>
  <hr />
<% end %>


<%= file_field_tag "images[]", type: :file, multiple: true %>

<% if @event.imgs.size > 0 %>
  <hr />
<% end %>

<ul class="list-unstyled img-list row">
  <% @event.imgs.each do |image| %>
    <li class="img-item col-md-4" data-id="<%= image.id %>">
      <div>
        <label class="item-position label label-success" data-toggle="tooltip" data-placement="bottom" title="Posição da imagem" >
          <%= image.position %>
        </label>
        <%= image_tag image.src.url(:medium) %>
        <%= link_to [:admin, @event, image], class: 'btn btn-danger btn-remove', method: :delete, data: { confirm: 'Tem certeza que deseja continuar?' } do %>
          <i class="fa fa-remove"></i>
        <% end %>
      </div>
   </li>
  <% end %>
</ul>
