<% if @establishment.cover %>
  <div class="form-group image">
    <label class="form-control-label">
      Capa
    </label>
    <div class="clearfix">
      <%= image_tag @event.cover.url(:thumb) %>
    </div>
  </div>
<% end %>
<%= f.input :cover, as: :file, label: false %>
<hr />

<%= f.input :name %>
<%= f.input :description, hint: 'Entre 30 à 500 carácteres', input_html: { rows: 6, class: 'tinymce' } %>

<hr>
<%= f.input :starts_at, wrapper: :horizontal_select_date %>
<%= f.input :ends_at, wrapper: :horizontal_select_date %>
