<div class="events-page">
  <div class="page-title">
    <div class="clearfix">
      <div class="pull-left">
        <h3>Eventos em <%= @establishment.name %>
          <small>
            <%= @events.total_count %> eventos encontrados
          </small>
        </h3>
      </div>
      <div class="pull-right">
        <%= link_to [:edit, :admin, @establishment], class: 'btn btn-info' do %>
          <i class="fa fa-angle-left"></i>
          Voltar
        <% end %>
        <%= link_to new_admin_establishment_establishment_event_path, class: 'btn btn-success' do %>
          <i class="fa fa-plus-square"></i>
          Novo
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= render "admin/shared/notice" %>
    <%= render "search" %>
    <%= render "list" %>
    <div class="pagination-container">
      <%= paginate @events, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>
