<div class="form-group image">
  <label class="form-control-label">
    Avatar
  </label>
  <div class="clearfix">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
</div>
<%= f.input :name, input_html: { autofocus: true } %>
<%= f.input :email %>
<%= f.input :cellphone %>
<%= f.input :sniffs_count, disabled: true %>
