<div>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo de conta</th>
        <th>Membro desde</th>
        <th>Último login</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="<%= !user.active ? 'danger' : '' %>">
          <td><%= user.name %></td>
          <td><%= t(user.role) %></td>
          <td><%= l(user.created_at, format: :registred_at) %></td>
          <td><%= l(user.last_sign_in_at, format: :registred_at) rescue '-' %></td>
          <td colspan="2">
            <%= link_to [:edit, :admin, user], class: 'btn btn-xs btn-info' do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <% unless user.active %>
              <%= link_to [:admin, user], method: :delete, class: "btn btn-xs btn-success", data: { confirm: 'Esta ação irá desbloquear o usuário e ele poderá acessar a plataforma. Você tem certeza que deseja continuar?' } do %>
                <i class="fa fa-user-plus"></i>
              <% end %>
            <% else %>
              <%= link_to [:admin, user], method: :delete, class: "btn btn-xs btn-warning", data: { confirm: 'Esta ação irá bloquear o usuário e ele não terá como acessar a plataforma. Você tem certeza que deseja continuar?' } do %>
                <i class="fa fa-user-times"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
