<div class="slats-container">
  <form action="<%= admin_users_path %>" method="GET">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <div class="input-group-addon">
            Busca
          </div>
          <input type="search" name="search" class="form-control" placeholder="Digite o nome do usuário" value="<%= params[:search] %>">
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Ordenar
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item <%= filter_link_class(params, 'name', 'asc') %>">
              <%= link_to admin_users_path(order_by_attr: 'name', order_by_asc: 'asc') do %>
                Nome ASC
              <% end %>
            </li>
            <li class="dropdown-item <%= filter_link_class(params, 'name', 'desc') %>">
              <%= link_to admin_users_path(order_by_attr: 'name', order_by_asc: 'desc') do %>
                Nome DESC
              <% end %>
            </li>
            <li class="dropdown-item <%= filter_link_class(params, 'created_at', 'asc') %>">
              <%= link_to admin_users_path(order_by_attr: 'created_at', order_by_asc: 'asc') do %>
                Últimos registrados
              <% end %>
            </li>
            <li class="dropdown-item <%= filter_link_class(params, 'last_sign_in_at', 'asc') %>">
              <%= link_to admin_users_path(order_by_attr: 'last_sign_in_at', order_by_asc: 'asc') do %>
                Últimos login
              <% end %>
            </li>
            <li class="dropdown-item <%= filter_link_class(params, 'active', 'asc') %>">
              <%= link_to admin_users_path(order_by_attr: 'active', order_by_asc: 'asc') do %>
                Bloqueados
              <% end %>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
              <a href="<%= admin_users_path %>">
                Remover ordenação
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
