<%= simple_form_for [:admin, establishment], html: { multipart: true } do |f| %>
  <% if establishment.errors.any? %>
    <div class="alert alert-warning">
      <div>
        <b>Ops! <%= pluralize(establishment.errors.count, "erros") %> ocorreram:</b>
      </div>
      <br />
      <ul>
        <% establishment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <hr />
  <% end %>

  <%= render "admin/shared/notice" %>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' unless params[:show_img_tab].present? %>" data-toggle="tab" href="#form-basic" role="tab">
        Dados básicos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#form-address" role="tab">
        Endereço
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#form-visibility" role="tab">
        Visibilidade
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:show_img_tab].present? %>" data-toggle="tab" href="#form-images" role="tab">
        Imagens (<%= @establishment.imgs.size %>)
      </a>
    </li>
    <% if @establishment.id %>
      <li class="nav-item">
        <%= link_to [:admin, @establishment, :establishment_events], class: 'nav-link', role: 'tab' do %>
          Eventos (<%= @establishment.events.size %>)
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sniffs-visibility" role="tab">
          Sniffs (<%= @establishment.sniffs.size %>)
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane <%= 'active' unless params[:show_img_tab].present? %>" id="form-basic" role="tabpanel">
      <%= render 'form_basic', f: f %>
    </div>
    <div class="tab-pane" id="form-address" role="tabpanel">
      <%= render 'form_address', f: f %>
    </div>
    <div class="tab-pane <%= 'active' if params[:show_img_tab].present? %>" id="form-images" role="tabpanel">
      <%= render 'form_images', f: f %>
    </div>
    <div class="tab-pane" id="form-visibility" role="tabpanel">
      <%= render 'form_visibility', f: f %>
    </div>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  </div>
<% end %>
