<%= simple_form_for [:admin, establishment], html: { multipart: true } do |f| %>
  <% if establishment.errors.any? %>
    <div class="alert alert-warning">
      <div>
        <b>Ops! <%= pluralize(establishment.errors.count, "erros") %> ocorreram:</b>
      </div>
      <br />
      <ul>
        <% establishment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <hr />
  <% end %>

  <%= render "admin/shared/notice" %>

  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#form-basic" role="tab">
        Dados básicos
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#form-address" role="tab">
        Endereço
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#form-tags" role="tab">
        Categorias
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#form-visibility" role="tab">
        Visibilidade
      </a>
    </li>
    <% if @establishment.id %>
      <li>
        <%= link_to [:admin, @establishment, :establishment_events], class: 'nav-link', role: 'tab' do %>
          Eventos (<%= @establishment.events.size %>)
        <% end %>
      </li>
      <li>
        <a href="#sniffs-visibility" role="tab">
          Sniffs (<%= @establishment.sniffs.size %>)
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane <%= 'active' unless params[:show_img_tab].present? %>" id="form-basic" role="tabpanel">
      <%= render 'form_basic', f: f %>
    </div>
    <div class="tab-pane" id="form-address" role="tabpanel">
      <%= render 'form_address', f: f %>
    </div>
    <div class="tab-pane" id="form-tags" role="tabpanel">
      <%= render 'form_tags', f: f %>
    </div>
    <div class="tab-pane" id="form-visibility" role="tabpanel">
      <%= render 'form_visibility', f: f %>
    </div>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  </div>
<% end %>
