<% if @establishment.cover %>
  <div class="form-group image">
    <label class="form-control-label">
      Capa
    </label>
    <div class="clearfix">
      <%= image_tag @establishment.cover.url(:thumb) %>
    </div>
  </div>
<% end %>
<%= f.input :cover, as: :file, label: false %>
<hr />

<% if @establishment.avatar %>
  <div class="form-group image">
    <label class="form-control-label">
      Capa
    </label>
    <div class="clearfix">
      <%= image_tag @establishment.cover.url(:thumb) %>
    </div>
  </div>
<% end %>
<%= f.input :avatar, as: :file, label: false  %>
<hr />

<%= f.input :name %>
<%= f.input :small_business_hours_description, hint: 'Entre 5 à 35 carácteres', input_html: { rows: 3 } %>
<%= f.input :business_hours_description, hint: 'Entre 15 à 1500 carácteres', input_html: { rows: 5 } %>
<%= f.input :small_description, hint: 'Entre 30 à 250 carácteres', input_html: { rows: 3 } %>
<%= f.input :description, hint: 'Entre 30 à 1500 carácteres', input_html: { rows: 5 } %>
<%= f.input :email %>
<%= f.input :site %>
<%= f.input :facebook %>
<%= f.input :instagram %>
<%= f.input :phone, input_html: { class: 'phone' }  %>
