<table class="table">
  <thead>
    <tr>
      <th style="width: 5%;">Vip</th>
      <th style="width: 5%;">Visível</th>
      <th style="width: 5%;">Aprovado</th>
      <th style="width: 30%;">Nome</th>
      <th style="width: 45%;">Categoria(s)</th>
      <th style="width: 10%;" colspan="2">
        Ações
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @establishments.size == 0 %>
      <tr>
        <td colspan="6">
          <%= render "no_results" %>
        </td>
      </tr>
    <% end %>
    <% @establishments.each do |establishment| %>
      <tr class="<%= !establishment.aprooved ? 'warning' : '' %> <%= !establishment.visible ? 'warning' : '' %> <%= establishment.vip ? 'info' : '' %>">
        <td><%= icon_check(establishment.vip) %></td>
        <td><%= icon_check(establishment.visible) %></td>
        <td><%= icon_check(establishment.aprooved) %></td>
        <td>
          <%= establishment.name %>
        </td>
        <td>
          <% establishment.tags.each do |tag| %>
            <span class="label label-default"><%= t tag.alias %></span>
          <% end %>
          <% if establishment.tags.size == 0 %>
            -
          <% end %>
        </td>
        <td colspan="2">
          <%= link_to [:edit, :admin, establishment], class: 'btn btn-xs btn-info' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to [:admin, establishment], method: :delete, class: 'btn btn-xs btn-warning', data: { confirm: 'Você realmente deseja remover esse estabelecimento? Será uma ação irreversível' } do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
