<div class="establishments-page">
  <div class="page-title">
    <div class="clearfix">
      <div class="pull-left">
        <h2>Estabelecimentos
          <small>
            <%= @establishments.total_count %> estabelecimentos encontrados
          </small>
        </h2>
      </div>
      <div class="pull-right">
        <a href="<%= new_admin_establishment_path %>" class="btn btn-success">
          <i class="fa fa-plus-square"></i>
          Novo
        </a>
      </div>
    </div>
  </div>
  <div>
    <%= render "admin/shared/notice" %>
    <%= render "search" %>
    <%= render "list" %>
    <div class="pagination-container">
      <%= paginate @establishments, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>

</div>
